# Dépendances et environnement
__pycache__/
*.pyc

# Données de l'IA (Mémoire et Profils)
data/*.json

# Fichier de config (Optionnel, mais souvent gardé pour le modèle par défaut)
# config.py
avatar/00000-3620528860.png
voices/fr_FR-upmc-medium.onnx
voices/fr_FR-upmc-medium.onnx.json

# Logs
data/diagnostic.log

# Contextes
compressed_context.txt
